<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="google-site-verification" content="9WuFCNu241HXanWfoEJ-3VqLoAIy3Jo40cJ9QKKfGZE" />
</head>
<link rel="stylesheet" href="/stylesheets/convertor.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link>

<body>
    <nav>
  <div class="navbar">
    

    <ul class="menu">
     <a href="/project"> <li> <i class="fas fa-arrow-left"></i> PREVIOUS PAGE </li></a>
      

    </ul>


</nav>
    <div class="content">
        <div class="start">
            <br>

  <h1>Currency Converter</h1>
  <br>
<p class="subtitle">Get live exchange rates and convert between 150+ currencies</p>

</div>

<br>
<br>
<br>




    <div class="cont">

        
        <div id="div1">
            <image id="image1" src="https://flagsapi.com/US/shiny/64.png">
            </image><select class="option1">
                <option class="initial1">USD</option>
            </select>
        </div>
        <div id="div2">
            <image id="image2" src="https://flagsapi.com/PK/shiny/64.png"></image><select class="option2">
                <option class="initial2">PKR</option>
            </select>
        </div>
        <div id="standard">1 USD = 283.2982 PKR</div>
        <div id="input"><input id="inp" placeholder="EXCHANGE AMOUNT "></div>

        <div id="but"><button id="butt">CONVERT CURRENCY</button></div>
        <div id="but1"></div>

    </div>
    

    
    

    <script src="/javascripts/codes.js"></script>
    <script src="/javascripts/convertor.js"></script>




</body>

</html>