<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="9WuFCNu241HXanWfoEJ-3VqLoAIy3Jo40cJ9QKKfGZE" />
</head>
<link rel="stylesheet" href="/stylesheets/game.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</link>

<body>
  <nav>
  <div class="navbar">
    

    <ul class="menu">
     <a href="/project"> <li> <i class="fas fa-arrow-left"></i> PREVIOUS PAGE </li></a>
      

    </ul>


</nav>
    <h1>TIC-TAC-TOE </h1>
    <h2></h2>

    <div class="division">

        <div id="b1"><button class="but"></button></div>
        <div id="b2"><button class="but"></button></div>
        <div id="b3"><button class="but"></button></div>
        <div id="b4"><button class="but"></button></div>
        <div id="b5"><button class="but"></button></div>
        <div id="b6"><button class="but"></button></div>
        <div id="b7"><button class="but"></button></div>
        <div id="b8"><button class="but"></button></div>
        <div id="b9"><button class="but"></button></div>
    </div>

    <button id="reset">RESET</button>




</body>
<script src="/javascripts/game.js"></script>

   


</html>