<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <h1>Welcome to Portfolio Web</h1>
    <p>This is your deployed portfolio app.</p>
  </body>
</html>