<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Weather App</title>
  <link rel="stylesheet" href="/stylesheets/weatherapp.css" />
</head>
<body>
  
  <div class="navbar">
    

    <ul class="menu">
     <a href="/project"> <li> <i class="fas fa-arrow-left"></i> PREVIOUS PAGE </li></a>
    
    </ul>


</div>
  <div class="weather-app">
    <h1>Weather App</h1>
    <input type="text" id="cityInput" placeholder="Enter city name" />
    <button onclick="getWeather()">Search</button>
    <div class="weather-info" id="weatherInfo">
      <!-- Weather data will appear here -->
    </div>
  </div>

  <script src="/javascripts/weatherapp.js"></script>
</body>
</html>
